{% extends "app_entrega1/base.html" %} 

{% block main_content %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Featured blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://www.tematika.com/media/catalog/Ilhsa/Imagenes/658169.jpg" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">27/03/2022</div>
                    <h2 class="card-title">It - Stephen King</h2>
                    <p class="card-text">¿Quién o qué mutila y mata a los niños de un pequeño pueblo norteamericano? ¿Por qué llega cíclicamente el horror a Derry en forma d e un payaso siniestro que va sembrando la destrucción a su paso? Esto es lo que se proponen averiguar los protagonistas de esta novela. Tras veintisiete años de tranquilidad y lejanía una antigua promesa infantil les hace volver al lugar en el que vivieron su infancia y juventud como una terrible pesadilla. Regresan a Derry para enfrentarse con su pasado y enterrar definitivamente laamenaza que los amargó durante su niñez. Saben que pueden morir; pero son conscientes de que no conocerán la paz hasta que aquella cosa sea destruida para siempre.</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>
{% endblock main_content %}
